div{
    border: 2px solid red;
    width: 150px;
    margin-top: 50px;
    display: inline;
}

span{
    border: 2px solid red;
    width: 150px;
    margin-top: 50px;
     display: block;
     display: inline-block;
}
