.container{
    height: 90vh;
    width: 80vw;
    border: 2px solid red;

    /* background-color: black; */

    /* background-image: url('https://images.unsplash.com/photo-1756029095573-3d63ab16a293?q=80&w=1041&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */

    /* background-image: url('https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_320,q_50/lsci/db/PICTURES/CMS/316600/316605.3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: 0px -200px; */

    background-image: url('https://plus.unsplash.com/premium_photo-1755534537657-0a8a9bf1cc46?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -150px;


    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 50px;
    color: blue;
}
