.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

#container{
    border: 2px solid green;
    height: 200vh;
    position: relative;
}

.child1{
    position: relative;
    left: 100px;
    top: 200px;
}

.child2{
    position: absolute;
    bottom: 0;
    right: 0;
}

.child3{
    position: fixed;
    top: 0px;
    left: 350px;
}

.child4{
    position: sticky;
    top: 0px;
}
